/* UserTasks.css */

.task-list {
    margin: 20px;
  }
  
  .task-list h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .task-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .task-list li p {
    margin: 5px 0;
  }
  
  .task-list li p:first-child {
    font-weight: bold;
  }
  